$background: #edeffc;
$circleselected: #4f4fff;
$circleunselected: #a9aab0;

// @media screen and (max-width: 1200px) {
//   .goback {
//     height: 56px;
//     display: flex;
//     // justify-content: space-between;
//     align-items: center;
//     background-color: transparent;
//     padding-left: 10em;
//   }
// }

// @media screen and (min-width: 1200px) {
.goback {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding-left: 5em;
  padding-right: 5em;
  background-color: transparent;
  color: #4f4fff;
  border: 0px;
  @media screen and (max-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.goback-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
// }
