@media screen and (max-width: 1200px) {
  .header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0px 20px;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 100px;
    height: auto;
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .header-text {
    display: none;
  }

  .phone-info {
    display: flex;
    align-items: center;
  }

  .phone-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }

  .phone-ico {
    width: 20px;
    height: auto;
  }

  .phone-text {
    margin-left: 5px;
    font-family: BR Sonoma;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: right;
    color: #03050f;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 100px;
    height: auto;
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .header-text {
    margin-right: 10px;
    font-family: BR Sonoma;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: right;
    color: #03050f;
  }

  .phone-info {
    display: flex;
    align-items: center;
  }

  .phone-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }

  .phone-ico {
    width: 20px;
    height: auto;
  }

  .phone-text {
    margin-left: 5px;
    font-family: BR Sonoma;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: right;
  }
}
