@media screen and (max-width: 1200px) {
  .wrap-plans {
    flex-direction: column;
    align-items: center;
  }
  .wrap-plans-big {
  }
}
// @media screen and (min-width: 1200px) {
.container-parent-plans {
  width: 100%;
  height: 100vh;
}
.container-plans {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 8em;
}
.home-container-plans {
  max-width: 1200px;
  margin: 0 auto;
}
.cardparent-plans {
  margin: 0 auto;
  // border: 1px red solid;
  width: 90%;
  align-items: center;
  text-align: center;
}
.text-title-plans {
  width: 544px;
  margin: 0 auto;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.6px;
  color: #141938;
  margin-bottom: 0;
  margin-top: 1em;
  padding-left: 5em;
  padding-right: 5em;
  @media screen and (max-width: 1200px) {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.2px;
    text-align: left;
  }
}
.text-subtitle-plans {
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #141938;
  margin-bottom: 2em;
  @media screen and (max-width: 1200px) {
    text-align: left;
    align-items: flex-start;
  }
}

.wrap-plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  gap: 1em;
}

.wrap-plans-big {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  background-color: transparent;
}
// }
