$primary: #000;
$secondary: #c4c4c4;
$white: black;
$gray: #5e6488;
$bordercolor: #5e6488;
$colortext: #03050f;

.grid-container-inp {
  height: 56px;
  margin-top: 1em;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
  border-radius: 8px;
  background-color: white;
  padding: 0px !important;
}

.column2-inp {
  height: 56px;
  background-color: white;
  align-items: center;
  border-radius: 8px;
  border: 1px $bordercolor solid;
  display: flex;
  padding: 0;
}
.column2-inp:hover {
  border: 2px black solid;
}

.form__group-inp {
  background-color: transparent;
  position: relative;
  padding: 15px 0 0;
  margin-left: 5px;
  width: 100%;
}

.form__field-inp {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-family: BR Sonoma;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label-inp {
    cursor: text;
    top: 20px;
  }
}
.form__field-inp :focus {
  border: 5px red solid;
}
.form__label-inp {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: $gray;
  font-family: BR Sonoma;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.form__field-inp:focus {
  ~ .form__label-inp {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $primary;
    font-family: BR Sonoma;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
.form__field-inp {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
 

.select-style-inp {
  margin-top: 8px;
  height: 30px;
  font-family: BR Sonoma;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  color: $colortext;
  outline: none !important;
  border: none;
  align-self: center;
  width: 100%;
  padding: 0px;
}

.select-style-inp:hover,
.select-style-inp:focus {
  border: none;
  outline: none !important;
}
